body {
    margin: 0;
    padding: 0;
}

/* banner style */
.header {
    margin: 0 auto;
    height: auto;
}

.first-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 530px;
}

.second-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 344px 177px 344px;
}

.header {
    background: url('../resources/Banner\ Image.png'), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    background-position: center;
}

.third-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.our-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fourth-title {
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.img-one {
    display: block;
    margin: auto;
}

